# App
APP_NAME=ak-in-web
APP_ENV=local
APP_PORT=8080

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=akdb
DB_USER=akuser
DB_PASSWORD=changeme

# Admin Auth
ADMIN_USERNAME=AK
ADMIN_PASSWORD=changeme
JWT_SECRET=changeme

#backend
APP_NAME=ak-in-web
APP_ENV=local
APP_PORT=8080

# Frontend
VITE_API_BASE_URL=http://localhost:8080

# Datadog
DD_SERVICE=ak-in-web
DD_ENV=local
DD_VERSION=0.1.0
DD_TRACE_ENABLED=true
DD_RUNTIME_METRICS_ENABLED=true

VITE_DD_APPLICATION_ID=changeme
VITE_DD_CLIENT_TOKEN=changeme